.block
  .secondary-navigation
    %ul.wat-cf
      %li.active.first= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_user_path
  .content
    %h2.title
    .inner
      = form_for @user, :url => user_path(@user), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
