.block.notice
  %h3 Non-Profits
  .content
    %p Join Non-Profit.  Volunteer your skills and become a hero
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"}
    %li
      %a{:href => "#"}
