
%h2 Company benefits
%p Our aim is to help encourage volunteering in your workplace. With the help of your corporate sponsorship and partnership, Skillhero is able to provide skills matching between volunteers and non-profits.
%p With your Premier Corporate Partner subscription, we will provide our volunteer match services to your skilled employees eager to start making a difference. At the same time, your partnership is key to enabling us to verify the technical skills and positions held of our volunteers to needy non-profits. On the other hand, we provide tracking of employee volunteer hours completed and marketing of the sponsors with the highest volunteering hours.
%p With your donations as a sponsor, we are able to provide thank-you gifts to dedicated volunteers who are making a difference and earning Skillhero badges.
%br
%p Contact us at info@skillhero.org!
