%p.intro Skillhero is a non-profit organization dedicated to matching professionals with voluntary project positions at other non-profits.

%table{:width=>'100%'}
  %tr
    %td
      %h3= link_to image_tag('BeAHero.png'), volunteer_info_path
    %td
      %h3= link_to image_tag('nonprofit.png'), non_profit_info_path  
    %td
      %h3= link_to image_tag('enterprise.png'), company_info_path
%br 
%br #{link_to '* I just want to browse available projects', projects_path}
%br 
