%h2 Are you a:

%table{:width=>'100%'}
  %tr
    %td
      %h3= link_to 'Non Profit?', non_profit_path  
    %td
      %h3= link_to 'Volunteer?', volunteer_path
    %td
      %h3= link_to 'Company?', company_path
%br 
%br #{link_to '* I just want to browse available projects', projects_path}
%br 