%h2 Non-profit benefits
%p Skillhero brings skilled, professionals to your non-profit to fill open volunteering opportunities. We use our employer relationships to vet employed volunteer positions and experience to ensure reliable volunteering services by providing qualified volunteers.
%p With Skillhero your non-profit can post projects and find volunteers based on skills.

%p Workflow:
%ul
%li A non-profit posts a project
%li Volunteers apply for the project
%li The non-profit screens the applicants based on their skills and recommendations
%li The non-profit chooses the winning applicant to be the hero
%li The hero completes the project
%li The non-profit rates the hero's work
%li The hero rates the non-profit
%li The hero receives relevant badge(s)
%li The hero may receive a secret gift if available/applicable

%h3= link_to 'Sign Up Now!', new_non_profit_path
%h3 Have an account?  #{link_to 'Sign In', non_profit_login_url}
