%h2 Volunteer Benefits
%ul
  %li Volunteer your specific skills
  %li Display your previous volunteer history
  %li Search based on location, availability, time, or skills
  
%br
%h3 Sign up Via #{link_to image_tag('linkedin-logo.png'), '/auth/linked_in/'} 