%h2 Volunteer benefits
%p You may be looking to volunteer your time, but feel like you have skills that can make a bigger, lasting impact than raising a structure or cleaning up your neighborhood. Skillhero helps match you, the professional volunteer, to open projects at non-profits where your business, technical, or legal skills may be of great service.
%p When you complete volunteering work, you have an opportunity to earn badges, and sometimes even receive gifts.
%p Update your profile and start tracking your badges today!


%br
%h3 Sign up via #{link_to image_tag('linkedin-logo.jpg'), '/auth/linked_in/'} 
