.block.notice
  %h3 Open projects
  .content
    %p These are projects needing help, join and be a hero
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} 
    %li
      %a{:href => "#"} 
