/* 
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/activo/style.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

h3 {
	margin-top: 40px;
}

div.pic {
	float: left;
	margin-right: 15px;
}

div.ratingstar {
	display: inline;
}

div.ratingstar > * {
	padding-top: 25px;
}

div.ratingnum {
	display: inline;
	margin-left: 5px;
	vertical-align: 15px;
}

#herodetails {
	clear: both;
	margin-top: 50px;
}

#header {                                                                                                                                                                                                                                      
	background: #82bc55;                                                                                                                                                                                                                         
}

#header h1 {
	padding-top: 0px;
	padding-bottom: 0px;
}

#header > img {
	margin: 0px;
}

